.item {
    padding: .30rem;
    text-align: center;
  }
  .header{
    text-align: center;
    background: gray;
    height: 3rem;
    font-size: 30px;
  }
  .container {
    display: grid;
    border: 2px solid blue;
    grid-template-columns: 3fr 2fr 2fr 3fr;
    grid-gap: .140rem;
    font-size: 20px;
  }
  .container > * {
    background:limegreen;
    color: black;
  }
  .item-1{
    grid-column: 1/-1;
    height: 6rem;
  }
  .item-2{
    grid-column: 1/-1;
    height: 3rem
  }
  .item-4{
    grid-column: span 2;
    
  }
  .item-6{
    grid-column: span 3;
     height:4rem;
  }
  .item-9{
    grid-column: span 3;
    height: 4rem;
  }
  .item-10{
    grid-column: 1/-1;
    height: 5rem;
  }
  .item-11{
    grid-column: 1/-1;
  }