.item {
    padding: .30rem;
    text-align: center;
  }
  .header{
    text-align: center;
    background: gray;
    height: 3rem;
    font-size: 30px;
  }
  .container {
    display: grid;
    border: 2px solid blue;
    grid-template-columns: 3fr 2fr 2fr 3fr;
    grid-gap: .140rem;
    font-size: 20px;
    background: gray;
    height: 6rem;
  }
  .container > * {
    background:limegreen;
    color: black;
  }
  .item-1{
    grid-column: 1/-1;
    height: 6rem;
  }
  .item-2{
    grid-column: 1/-1;
    height: 3rem;
    background: yellow;
    margin: -3;
  }
  .item-4{
    grid-column: span 2;
    background: brown;
  }
  .item-5{
    background: #0000;
  }
  .item-6{
    grid-column: span 3;
     height:4rem;
     background: blue;
  }
  .item-9{
    grid-column: span 3;
    height: 4rem;
    background: #3344;
  }
  .item-10{
    grid-column: 1/-1;
    height: 5rem;
    background: #000fff;
  }
  .item-11{
    grid-column: 1/-1;
    background: tomato;
    height: 2rem;
  }