html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { max-width: 100%; }

body{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100%;
font-family: sans-serif; 
}
.header{
   background-color: gray;
   display: flex;
   justify-content: left;
   padding-left: 20em;
   font-size: 15px
}
.site-logo{
  align-items: left;
  font-size:60px;
  justify-content:left   
}
.navigation { flex: 0 1 auto; } 
.navigation-list-1{
  font-size:20px;
  align-items: left;  
  float:left;
  flex-direction:column;
}
.nav-link
  { color: white; text-decoration: none; }
.nav-link:hover { text-decoration: underline; } 

.navigation-last
 { flex: 0 1 auto; }  

.navigation-list-2{
   list-style: none;
   align-items: right;  
  justify-content:space-between;
}
.empty-box{
align-items: left;  
  justify-content:left;
  flex-direction:column;
}  
.plan-journey{
width:100%;
 height:350px;
display: flex;
flex: 1 1 auto;
 padding: 15px;
 margin: 10px;
 background-color:yellow;
}
.second-section{
  display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width:100%;
   height:250px;
   display: flex;
   flex: 1 1 auto;
   padding: 15px;
   margin: 10px;
  background-color:white;
}
.box-1{
  width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;  
}
.box-2{ 
 width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;
}
.box-3{
 width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;
}
.third-section{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width:100%;
   height:250px;
   display: flex;
   flex: 1 1 auto;
   padding: 15px;
   margin: 10px;
   background-color:white;
}
  .box-1{
  width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;  
}
.box-2{ 
 width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;
}
.box-3{
 width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;
}
 .box-4{
 width:400px;
 height:400px;
 display: flex;
 padding: 15px;
 margin: 10px;
 background-color:gray;
} 
.footer{
 background: yellow;
 display: flex;
 justify-content: center;
 justify-content: left;
 font-size: 20px;  
}