*{
    box-sizing: border-box;
}
body{   
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(245, 242, 242);
  font-family: sans-serif;
  color: #444468; 
}
.header{    
    box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
    background: #fff;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1220px;
    z-index: 520;
    justify-content: center;
}
.li-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;  
  height: 47px;
  padding-right: 5rem;
  margin-bottom: rem;
  padding-bottom: 2rem;
  text-decoration: none;
  list-style: none;
}
.search-icon{
 height: 2rem;
 width: 2rem;
 padding-top: 10px;
 margin-left: 31rem;
 padding-right: 5px;
 text-decoration: none;
}
.menu-icon{
  height: 1.5rem;
  width: 2rem;
  margin-right: 30px;
  margin-top: 1.3rem;
  text-decoration: none; 
}
.top-logo{
  height: 3rem;
  width: 3rem;
  padding-top: 1.5rem;   
}
.person{
  height: 2.2rem;
  width: 1.5rem;
  padding-top: 14px;
  margin-left: 27px;
  padding-right: 6px;
  text-decoration: none;  
}
.uk-flag{
  height: 2rem;
  width: 1.2rem;
  padding-top: 20px;
  margin-left: 1rem;
  margin-right: 14px;
  text-decoration: none;
}
.plan-journey{
  padding-top: 5rem;
  color: #243b63;
  font-size: 30px;
  padding-left: 7.5rem;
  margin-left: 0.5rem;
}
.dep-arri{
  display: flex;
  font-size: 14px;
  padding-left: 5rem;
  padding-bottom: 4rem;
  margin-left: 0.5rem;
  margin-bottom: 6rem;
  color: #243b63;
  list-style:  none;
}
.departure{
  padding-left: .125rem;
  text-decoration: underline;
  color: #243b63;
}
.dep-arri :hover{
  text-decoration: underline;
  margin-bottom: 15rem; 
}
.arrival{
  padding-left: 1rem;
  padding-right: 1rem;
  color: #243b63;
  text-decoration: none;
}
.calandar{
  height: 1.1rem;
  width: 1.2rem;
  border: 1px solid gray;
  background: yellow;
  text-decoration: none;
}
.rectangle:hover{
  text-decoration: underline;
}
.today{
  padding-left: 1.6rem;
  color: #243b63;
  text-decoration: none;
}
.bracket{
  padding-left: 2rem;
  padding-right: 2rem;
  color: #243b63;
  text-decoration: none;
}
.icon-clock{
  height: 1rem;
  width: 1rem;
  color: #243b63;
  text-decoration: none;     
}
.icon-clock:hover{
  text-decoration: underline;
}
.time{
  padding-left: 2rem;
  color: #243b63;
  text-decoration: none;
}
.bracket-two{
   padding-left: 2rem;
   padding-right: 2rem;
   color: #243b63;
   text-decoration: none;  
}
.icon-circle{
  height: 1rem;
  width: 1rem;
  color: #243b63;
  text-decoration: none;
}
.icon-circle:hover{
  text-decoration: underline;
}
.now{
  padding-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #243b63;
  text-decoration: none;
}
.setting{
   height: 1rem;
   width: 1rem;
   color: #243b63;
   text-decoration: none;   
}
.setting:hover{
  text-decoration: underline;
}
.option{
  padding-left: 1rem;
  color: #243b63;
  text-decoration: none;
}
.blue-box{
  display: inline-block;
  flex-direction: column;
  color: white;
  width: 7rem;
  height: 2.5rem;
  margin-left: 12.5rem;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0063d3;
  white-space: nowrap;
  padding-top: .5rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 -0.125rem 0 #004ba0; 
  font-size: 1rem;
  font-weight: 400;
}
.blue-box:hover {
  background-color:#004ba0;
  text-decoration: none;
}
.big-image{
  height: 320px;
  width: 1000px;
  display: flex;
  align-self: center;
  border: 1px solid gray;
  margin-bottom: 2rem;
  background: #fff;
  position: relative;
  padding-top: 5rem;
}
.big-image{
  background: url(https://www.ns.nl/binaries/_ht_1555319633740/large/content/gallery/ns-nl/carrousel-hero-afbeeldingen/ns-koningsdag.jpg) 
}
.check-box{
  background: #ffc917;
  height: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.two-checks{
  display: flex;
  align-self: center;
  font-size: 15px;
  font-weight: normal;
  padding-top: 2rem;
}
.button-a{
  height: 2rem;
  width: 30em;
  background: white;
  color: gray;
  margin-right: 1rem;
  padding-top: 0.5rem;
  margin-top: 0.9rem;
  padding-left: 1rem;
  margin-left: 1rem;
}
.button-a::nth-word(1) {
  margin-right: 20px;
  color: black;
}
.arrow{
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}
.button-b{
  height: 2rem;
  width: 30em;
  background: white;
  color: gray;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.black{
  color: black;
  background: none;
  font-weight: bold;
  padding-right: 1rem;
}
.three-boxes{
  display: flex;  
  height: 320px;
  width: 1000px;
  align-self: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  font-family: sans-serif;
  
}
.nav-link{
  text-decoration: none;
  padding-top: 1rem;
  color: rgb(23, 23, 209);
  font-size: 14px; 
}
.heading{
  display: flex;
}
.under-tickets{
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;  
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  background: #fff;
  padding-left: 2rem;
  margin-right: 0.8rem;
  padding-bottom: 1rem; 
}
.ticket{
  font-size: 18px;
  color: #243b63;
  padding-top: 1.4rem 
}
.audience-image{
  width: 8rem;
  height: 5rem;
  justify-content: flex-end;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
}
.under-popular{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  padding-left: 2rem;
  margin-left: 0.8rem;
  margin-right: .5rem;
  padding-bottom: 1rem; 
}
.ov-image{
  width: 2rem;
  height: 2.5rem;
  justify-content: flex-end;
  margin-left: 2rem;
  padding-left: .125rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.most-popular{
  font-size: 18px;
  color: #243b63;
  padding-top: 1rem;
}
.customer-service{
  font-size: 18px;
  color: #243b63;
  padding-bottom: 1rem;  
}
.one-person{
  width: 4rem;
  height: 5rem;
  justify-content: flex-end;
  margin-left: 3rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  background: #fff;
}
.under-customer-service{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  padding-left: 2rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}
.tickets{
  font-size: 20px;
  font-weight: bold;
  color:#243b63;
  padding-top: 2rem;  
}
.horizontal-line{
   border-top: .0625rem solid #e6e6e9;  
}
.sugestion{
  font-size: 40px;
  padding-left: 5rem;
  color: #243b63;
  margin-left: 2rem;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.two-boxes{  
  display: flex;
  height: 280px;
  text-align: center;
  width: 1000px;
  align-self: center; 
  margin-bottom: 1.5rem;
  margin-top: .6rem;  
}
.NS-flex{ 
  width: 700px;
  background: #fff;
  margin-right: 0.8rem;
  padding-right: 0.8rem;
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  color: white; 
}
.first-p{
  display: flex;
  font-size: 20px;
  padding-left: 2rem;
  margin-top: 1rem;
}
.second-p{
  font-size: 30px;
  display: flex;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.inside-box{
  display: flex;
  flex-direction: column;
  color: white;
  width: 12rem;
  height: 2.5rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0063d3;
  margin-left: 2rem;
  margin-top: 7rem;
  border-radius: 0.2rem;
  box-shadow: inset 0 -0.125rem 0 #004ba0; 
  font-size: 1rem;
  font-weight: 400;
}
.NS-flex{ 
  background: url(https://www.ns.nl/binaries/_ht_1538662724772/liggend/content/gallery/ns-en/banner-type-a-images/ns-flex-order.jpg)
}
.ns-business-image{
 width: 300px;
 height: 140px;
 background: #fff;
 box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
 margin-bottom: .625rem;
 color: white;
 background-repeat: no-repeat;
}
.ns-business-image{
  background: url(https://www.ns.nl/binaries/_ht_1530178406366/tegel/content/gallery/ns-nl/thema-hero-afbeeldingen/zakelijk/zo-reist-nederland-2.jpg)
}
.ns-businesses{
  width: 300px;
  height: 280px;
  margin-left: 0.8rem;
  padding-left: 0.8rem;
  background: #fff;
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  margin-bottom: .625rem;
  color: white;
 
  
}
.other-two{
  display: flex;
  height: 280px;
  text-align: center;
  width: 1000px;
  align-self: center; 
  margin-bottom: 1.5rem;
  margin-top: .6rem;
}
.discover{
 width: 300px;
 background: #fff;
 margin-right: 1rem;
 padding-right: 1rem;
 box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);   
}
.paintings{
  width: 700px;
  background: #fff;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
  color: white;  
}
.paintings{
  background: url(https://www.ns.nl/binaries/_ht_1538661503352/liggend/content/gallery/ns-en/banner-type-a-images/rijksmuseum.jpg)
}
.bottom{
  display: flex;
  height: 250px;
  background: white;
  padding-top: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #4455;
  justify-content: space-around;
  text-decoration: none; 
}
.under-straight{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  font-size: 14px;
}
.straight{
  font-size: 16px;
  color: darkblue;
  padding-right: 1rem;
}
.under-products{
 justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  font-size: 14px; 
}
.products{
  font-size: 16px;
 color: darkblue;  
}
.under-more-ns{
 justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 4.6rem;
  font-size: 14px;
}
.more-ns{
 font-size: 16px;
 color: darkblue;
}
.under-social-media{
 justify-content: space-between;
  display: flex;
  flex-direction: column; 
  padding-bottom: 2rem;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}
.social-media{
  font-size: 16px;
  color: darkblue;
  padding-bottom: 1rem;
  
}
.facebook{
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 12px;
  box-shadow: none!important;
}
.twitter{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  font-size: 12px;
  box-shadow: none!important;  
}
.instagram{
  height: 1.5rem;
  width: 2.5rem;
  font-size: 12px;
  padding-right: 1rem;
}
.youtube{
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  padding-bottom: .3rem;
  font-size: 12px;
  box-shadow: none!important;  
}
.linkedin{
  height: 1rem;
  width: 1.5rem;
  margin-right: 1rem;
  margin-left: .5rem;
  font-size: 12px;
  box-shadow: none!important;  
}
.footer{
  display: flex; 
  border-top: 1px solid gray;
  height: 75px;
  width: 100%; 
  background: #fff;
  padding-top: 2rem;
  list-style: none;
  position: relative; 
  left: 0;
  top: 0;
  z-index: 520; 
}
.footer{
   position: relative; 
   left: 0;
   top: 0;
   z-index: 520;
}
.disclaimer{
  display: flex;
   margin-left: 5rem;
   padding-left: 2rem;
  
}
.privacy{
padding-left: 2rem;
margin-left: 3rem;
}
.bottom-logo{
  margin-left: 40rem;
  padding-left: 5rem;
  display: flex;
  flex: 1; 
}