*{
    box-sizing: border-box;
}
body{   
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(245, 239, 239);
  font-family: sans-serif; 
}
.header{    
    box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
    background: #fff;
    left: 0;
    height: 65px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 520;
    justify-content: center;
}
.li-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;  
  height: 47px;
  padding-right: 5rem;
  margin-bottom: rem;
  padding-bottom: 2rem;
  text-decoration: none;
  list-style: none;
}

.search-icon{
 height: 2rem;
 width: 2rem;
 padding-top: 10px;
 margin-left: 31rem;
 padding-right: 5px;
 text-decoration: none;
}
.menu-icon{
  height: 1.5rem;
  width: 2rem;
  margin-right: 30px;
  margin-top: 1.3rem;
  text-decoration: none; 
}
.top-logo{
  height: 3rem;
  width: 3rem;
  padding-top: 1.5rem;   
}
.person{
  height: 2rem;
  width: 1.5rem;
  padding-top: 14px;
  margin-left: 27px;
  padding-right: 6px;
  text-decoration: none;  
}
.uk-flag{
  height: 2rem;
  width: 1.3rem;
  padding-top: 20px;
  margin-left: 1rem;
  margin-right: 14px;
  text-decoration: none;
}
.plan-journey{
  padding-top: 5rem;
  color: #243b63;
  font-size: 40px;
  padding-left: 7rem;
}
.dep-arri{
  display: flex;
  font-size: 18px;
  padding-top: 2rem;
  padding-left: 7rem;
  color: #243b63;
  list-style:  none;
}
.departure{
  padding-left: .125rem;
  text-decoration: none;
  color: #243b63;
}
.dep-arri :hover{
  text-decoration: underline; 
}
.arrival{
  padding-left: 1rem;
  padding-right: 1rem;
  color: #243b63;
  text-decoration: none;
}
.rectangle{
  height: 1.1rem;
  width: 1.2rem;
  border: 1px solid gray;
  color: #243b63;
  text-decoration: none;
}
.rectangle:hover{
  text-decoration: underline;
}
.today{
  padding-left: 1.6rem;
  color: #243b63;
  text-decoration: none;
}
.bracket{
  padding-left: 2rem;
  padding-right: 2rem;
  color: #243b63;
  text-decoration: none;
}
.icon-clock{
  height: 1.5rem;
  width: 1.5rem;
  color: #243b63;
  text-decoration: none;     
}
.icon-clock:hover{
  text-decoration: underline;
}
.time{
  padding-left: 2rem;
  color: #243b63;
  text-decoration: none;
}
.bracket-two{
   padding-left: 2rem;
   padding-right: 2rem;
   color: #243b63;
   text-decoration: none;  
}
.icon-circle{
  height: 1.5rem;
  width: 1.5rem;
  color: #243b63;
  text-decoration: none;
}
.icon-circle:hover{
  text-decoration: underline;
}
.now{
  padding-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #243b63;
  text-decoration: none;
}
.setting{
   height: 1.5rem;
   width: 1.5rem;
   color: #243b63;
   text-decoration: none;   
}
.setting:hover{
  text-decoration: underline;
}
.option{
  padding-left: 2rem;
  color: #243b63;
  text-decoration: none;
}
.blue-box{
  display: inline-block;
  flex-direction: column;
  color: white;
  width: 7.5rem;
  height: 3rem;
  margin-left: 14rem;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0063d3;
  white-space: nowrap;
  padding-top: 1rem;
  box-shadow: inset 0 -0.125rem 0 #004ba0; 
  font-size: 1rem;
  font-weight: 400;
}
.blue-box:hover {
  background-color:#004ba0;
  text-decoration: none;
}
.big-image{
  height: 300px;
  width: 1200px;
  display: flex;
  align-self: center;
  border: 1px solid gray;
  margin-bottom: 2rem;
  background: #fff; 
}
.check-box{
  background: #ffc917;
  height: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.two-checks{
  display: flex;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 2rem;
}
.button-a{
  height: 3rem;
  width: 33.5em;
  background: white;
  color: gray;
  margin-right: 2rem;
  padding-top: 1rem;
}
.button-a::nth-word(1) {
  margin-right: 20px;
  color: black;
}
.arrow{
 width: 4rem;
  height: 3rem;
}
.button-b{
  height: 3rem;
  width: 33.5em;
  background: white;
  color: gray;
  margin-left: 1rem;
  padding-top: 1rem;
}
.three-boxes{
  display: flex;  
  height: 400px;
  width: 1200px;
  align-self: center;
  margin-bottom: 3rem;
}
.under-tickets{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  padding-left: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
  border: 1px solid gray;
  background: #fff;
}
.under-popular{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-left: 2rem;
  border: 1px solid gray;
  background: #fff;
}
.most-popular{
  font-size: 20px;
  font-weight: bold;
  color: blue;
  padding-bottom: 1rem;
}
.customer-service{
  font-size: 20px;
  font-weight: bold;
  color: blue;
  padding-bottom: 1rem;
   
}
.under-customer-service{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding-left: 1rem;
  padding-top: 2rem;
  justify-content: space-around;
  margin-left: 2rem;
  border: 1px solid gray;
  background: #fff; 
}
.tickets{
 font-size: 20px;
  font-weight: bold;
  color: blue;
  padding-bottom: 1rem;  
}
.sugestion{
  font-size: 40px;
  padding-left: 3.3rem;
  color: darkblue;
  margin-left: 1rem;
  margin-bottom: 20px;
}
.two-boxes{ 
  background: white;
  display: flex;
  height: 300px;
  text-align: center;
  width: 1200px;
  align-self: center;
  margin-bottom: .8rem;
  
}
.NS-flex{
  border: 2px solid #5544;
  flex: 1;
}
.ns-business{
 border: 2px solid #5544;  
}
.other-two{
  display: flex;
  height: 350px;
  text-align: center;
  width: 1200px;
  align-self: center;
  
  margin-top: .8rem;
}
.discover{
 border: 2px solid #5544;
 background: #fff;  
}
.paintings{
 border: 2px solid #5544;
  flex: 1;
  background: #fff; 
}
.bottom{
  display: flex;
  height: 250px;
  background: white;
  padding-top: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #4455;
  justify-content: space-around; 
}
.under-straight{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.straight{
  font-size: 20px;
  color: darkblue;
  padding-right: 1rem;
}
.under-products{
 justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem; 
}
.products{
 font-size: 20px;
 color: darkblue;  
}
.under-more-ns{
 justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-bottom: 4.6rem;
}
.more-ns{
 font-size: 20px;
 color: darkblue;
}
.under-social-media{
 justify-content: space-between;
  display: flex;
  flex-direction: column; 
  padding-bottom: 2rem;
}
.social-media{
  font-size: 20px;
  color: darkblue;
  padding-bottom: 1rem;
  
}
.facebook{
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}
.twitter{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;  
}
.instagram{
  height: 1.5rem;
  width: 2.5rem;
  
}
.youtube{
  height: 2.4rem;
  width: 2rem;
  margin-right: 0.5rem;  
}
.linkedin{
 height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;  
}
.footer{
  display: flex;
  border-top: 1px solid gray;
  height: 80px; 
  background: white;
  padding-top: 2rem;
 
}
.disclaimer{
 padding-left: 4rem; 
  
}
.privacy{
  flex: 1;
  padding-left: 5rem;
}
.bottom-logo{
  padding-right: 4rem;
  padding-bottom: 1rem;
}